* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #edeef6;
  font-family: sans-serif;
}
button {
  background-color: #47a386;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
}

.modal-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}
.modal-container.show,
.loading.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  width: 900px;
  max-width: 100%;
  text-align: center;
  opacity: 0;
}

.modal .noInstructions {
  padding: 50px 0;
  font-size: 50px;
}
.modal ol {
  text-align: start;
  line-height: 20px;
  padding: 25px 0;
}
.modal .recipeInfos {
  display: flex;
  justify-content: space-around;
  padding: 0px 15px 0 15px;
}

.loading {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  opacity: 0;
}

.modal-container .loading {
  position: absolute;
  top: 50%;
  /* right: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
  /* bottom: 50%; */
  padding-top: 0;
  z-index: 100;
  pointer-events: none;
}

.loading::after {
  content: "";
  width: 100px;
  height: 100px;
  border: 15px solid #dddddd;
  border-top-color: #009579;
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

.closeButton {
  position: absolute;
  top: -15px;
  left: -40px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;

  padding: 0px;
}

/* Animation */

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
